@page "/"

    <div class="jumbotron">
        <h1 style="font-weight:bold" class="display-4">欢迎使用中小学生营养配餐与食材溯源系统！</h1>
        <p class="lead">在新大陆云平台和边缘计算开发板的基础，利用可视化图表，结合Blazor框架以及Ant Blazor的UI框架，构造一个可直观了解食材追溯和营养配餐的系统</p>
        <hr class="my-4">
        <p>结合新大陆边缘计算开发板和膳食数据库，可以让食堂员工更容易了解营养组成结构来进行合适的配餐</p>
        <p>多种平台相互结合，可以使家长更清楚了解孩子在校的营养餐情况，同时再整个食材的流动阶段也可以更好的进行数据的采集和上报。</p>
        <p>相关账单公开透明，可以清楚的了解每一笔开支</p>
    </div>


    @code {

       
    }
